@media screen and (max-width: 1024px) {

    .header-hamburger-container {
      display: flex;
      padding: 10px 8px;
      margin-right: 16px;
      justify-content: center;
      align-items: center;
    }

    .header-hamburger-item {
      background-color: #fff;
      width: 24px;
      height: 2px;
      border-radius: 8px;
    }

    .header-btn {
        display: none;
    }

    .hamburger-button {
      display: flex;
      background: none;
      border: none;
      cursor: pointer;
      height: 40px;
      gap: 7px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .about-img-container {
        display: none;
    }

    .partners-logo-container {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
        margin-top: 5vw;
    }

    .logo-item-1 {
        order: 3;
    }

    .logo-item-2 {
        order: 2;
    }

    .logo-item-3 {
        order: 1;
    }

    .logo-item-4 {
        order: 4;
    }

    .logo-item-5 {
        order: 5;
    }

    .p-cta-about {
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        width: 100%;
    }

    .cta-about-text-container {
        width: 80.078vw;
      }

    .cta-title {
        font-size: 6.25vw;
    }

    .about-content {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 40px;
    }

    .about-items-container {
        margin-left: 4.16vw;
      }
    
    .item-title {
        font-size: 42px;
        font-weight: 700;
        line-height: 106%;
      }
      
    .item-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
    }

    .item-img {
        max-width: 100px;
        max-height: 100px;
    }

    .about-item-container {
        width: 321px;
        height: auto;
        gap: 1.38vh;
      }

      .about-text {
        font-size: 30px;
      }
      
      .about-text-marked {
        font-size: 30px;
      }

      .title-container {
        flex-wrap: wrap;
      }

      .title-img-container {
        width: 52vw;
        overflow: hidden;
        margin-top: 40px;
        margin-left: 48vw;
      }

      .title-img {
        width: 52vw;
        height: auto;
      }

      .text-title-main-container {
        width: 65.52vw; /* Используем vw для ширины */
      }
      
      .title {
        font-size: 9.37vw; /* Используем vw для размера шрифта */
      }
      
      .title-p {
        width: 52.14vw; /* Используем vw для ширины */
        font-size: 1.95vw;
      }

     .text-item {
        font-size: 3.5vw;
      }
      
      .text-item-marked {
        font-size: 3.5vw;
      }

      .why-items-container {
        gap: 1.95vw;
        justify-content: center;
      }

      
      .first {
        max-width: 547px;
        min-height: 410px;
      }
      
      .second {
        max-width: 547px;
        min-height: 350px;
      }

      .why-item-container {
        
      }
      
      .why-item-title {
        font-size: 44px;
        font-weight: 700;
      }
      
      .why-item-text {
        font-size: 20px;
        line-height: 120%;
      }
      
      .text-container {
        gap: 16px;
        margin-left: 30px;
        margin-top: 30px;
        margin-right: 30px;
      }
      
      .text-first {
        padding: 0;
      }
      
      .text-second {
        padding: 0;
      }
      
      .text-third {
        padding: 0;
      }
      

      .text-forth {
        padding: 0;
      }

      .why-item-img-container {
        
      }

      .uniq_ill_1 {
        display: none;
      }

      .uniq_ill_2 {
        display: block;
      }

      .img-first {
        top: 55%;
        left: 0;
        bottom: 0;

      }
      
      .img-second-1 {
        top: 84%;
        right: 95%;
        left: 5%;
        bottom: 0;
      }
      
      .img-second-2 {
        top: 79%;
        right: 55%;
        left: 45%;
        bottom: 0;
      }
      
      .img-second-3 {
        top: 50%;
        right: 0;
        left: 85%;
        bottom: 10%;
      }

      .img-third {
        bottom: -1%;
        right: 0;
      }
      
      .uniq_ill_3 {
        display: none;
      }

      .uniq_ill_4 {
        display: block;
      }
      
      .img-forth {
        left: 60%;
        top: 56%;
        bottom: 0;
      }

      .copyright-content-container {
        flex-wrap: wrap;
        gap: 20px;
      } 

      .copyright-items {
        flex-wrap: nowrap;
        padding-left: 0;
      }

      .footer-menu {
        justify-content: flex-start;
        gap: 20px;
      }

      .cta-about-media-container {
        width: 820px;
        margin-left: 0;
      }
  }

