html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 1440px;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    background-color: grey;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .slider-container {
    width: 80%;
    height: auto;
    background-color: azure;
    border-radius: 30px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .slider-items {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 200px;
    position: relative;
    overflow: hidden;
  }
  
  .slide-item {
    width: 480px;
    height: 200px;
    border-radius: 30px;
    background-color: grey;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: azure;
    position: absolute;
    right: -500px;
    top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }


  
  button {
    all: unset;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 90px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    font-size: 12px;
  }

  .disabled {
    cursor: pointer;
    pointer-events: none;
  }
  
  .dots {
    display: flex;
    gap: 20px;
  }
  
  .dot {
    border-radius: 90px;
    width: 10px;
    height: 10px;
    background-color: grey;
  }
  
  .current-dot {
    background-color: black;
  }

