:root {
  --main-bg-color: #181818;
  --maint-text-color: #FFFFFF;
  --header-second-bg-color: #FFAA4C;
  --main-btns-bg-color: #954CED;
  --btns-secondary-color: #BA8BF3;
  --btns-active-color: #7B31D4;
  --stroke-text-color: #444444;
  --animated-text-green: #2FDBBC;
  --animated-text-purple: #A64CED;
  --secondary-border-color: #CFCFCF;
  --modal-form-border: #F5F5F5;
  --input-text-color: #A7A7A7;
  --btn-disabled-bg-color: #B9B9B9;
  --errors-color: #EC1211;
}

@font-face {
  font-weight: 700;
  font-family: "Outfit";
  src: url("../fonts/Outfit-Bold.woff2");
}

@font-face {
  font-weight: 600;
  font-family: "Outfit";
  src: url("../fonts/Outfit-SemiBold.woff2");
}

@font-face {
  font-weight: 500;
  font-family: "Outfit";
  src: url("../fonts/Outfit-Medium.woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Outfit";
  src: url("../fonts/Outfit-Regular.woff2");
}


@font-face {
  font-weight: 300;
  font-family: "Outfit";
  src: url("../fonts/Outfit-Light.woff2");
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 1440px;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  width: 100%;
}


input[type='search'] {
  -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  appearance: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.header {
  width: 100%;
  display: inline-block;
  height: 71px;
}

.header__main-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--main-bg-color);
  height: 71px;
  transition: top 0.7s ease-in-out;
}

.header__main-container_logo-container {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 155px;
  height: 49px;
  margin-left: 60px;
  gap: 5px;
}

.header__main-container_logo-container__logo-text {
  color: var(--maint-text-color);
  font-size: 37px;
  font-weight: 600;
  line-height: 17px;
  text-transform: lowercase;
}

.header__second-container__menu {
  width: 100%;
  background-color: var(--header-second-bg-color);
  height: 38px;
}

.header__second-container__menu__list__item {
  color: black;
  font-weight: 500;
}

.header__main-container__contact {
  margin-right: 60px;
  margin-top: 7px;
}

.contact__sales-btn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 30px;
  width: 122px;
  height: 25px;
  background-color: var(--main-btns-bg-color);
  border: 2px solid var(--main-btns-bg-color);
  border-radius: 16px;
  cursor: pointer;
  position: relative;
  transition: background-color .2s ease,border-color .2s ease,color .2s ease,fill .2s ease,transform .2s ease-in-out;
  overflow: hidden;
  will-change: transform;
}

.contact__sales-btn:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%) rotate(16deg);
  transform-origin: top left;
  transition: background-color .2s ease, border-color .2s ease,color .2s ease,fill .2s ease, transform .2s ease-in-out;
  will-change: transform;
  z-index: -1;
  border-radius: 16px;
  background-color: var(--main-bg-color);
}

.contact__sales-btn>* {
  position: relative;
  z-index: 1
}

.contact__sales-btn:hover {
  background-color: var(--main-bg-color);
  border-color: var(--main-btns-bg-color);
  transition: background-color .2s ease, border-color .2s ease,color .2s ease,fill .2s ease, transform .2s ease-in-out;
  transform: scale(1.07);
  will-change: transform
}

.contact__sales-btn:hover:after {
  transform: translate(0);
  z-index: 0
}

.sales-btn__text {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  color: #FFFFFF;
}

.contact__sales-btn:focus {
  border: 4px solid var(--btns-secondary-color);
  background: var(--main-btns-bg-color);
  outline: none;
}

.contact__sales-btn:active {
  background: var(--btns-active-color);
}

.sales-btn--no-border {
  border-color: transparent;
}

.sales-btn--no-border::before{
  border-color: transparent;
}

.sales-btn--no-border:hover{
  border-color: transparent;
}

.img--loading {
  display: block;
}

.sales-btn--loading {
  pointer-events: none;
  border-color: transparent;
  background-color: var(--main-btns-bg-color);
}

.sales-btn--loading:hover {
  pointer-events: none;
  border-color: transparent;
  background-color: var(--main-btns-bg-color);
}

.sales-btn--loading:focus {
  pointer-events: none;
  border-color: transparent;
  background-color: var(--main-btns-bg-color);
}

.sales-btn--loading:active {
  pointer-events: none;
  border-color: transparent;
  background-color: var(--main-btns-bg-color);
}

.hamburger-btns--disabled {
  display: none;
}

.hamburger__open-button--disabled {
  display: none;
}

.header__main-container__header-menu {
  min-height: 583px;
  width: 100%;
  display: flex;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__main-container__header-menu__contact {
  display: flex;
  flex-direction: column;
  gap: 150px;
  width: 70%;
  margin-left: 50%;
}

.header__main-container__header-menu__container__content__list {
  margin: 0;
  padding: 0;
}

.header__main-container__header-menu__container__content__list__item {
  color: var(--maint-text-color);
  font-size: 20px;
  font-weight: 300;
  list-style-type: none;
  padding-top: 16px;
}

.header__main-container__hamburger__close-button {
  all: unset;
  cursor: pointer;
}

.menu--disabled {
  display: none;
}

.menu-secondary--disabled {
    display: none;
}

.header__second-container__menu__list {
  list-style-type: none;
  margin-top: 0;
  display: flex;
}

.header__second-container__menu__list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 168px;
  background: none;
  color: var(--main-bg-color);
  font-size: 16px;
  text-align: center;
  background-color: var(--header-second-bg-color);
}

.item--active {
  background-color: var(--main-bg-color);
  color: var(--maint-text-color);
  border-radius: 20px 20px 0px 0px;
}

.header__main-container.position--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.Title__main-container__img-background__img {
  width: 595px;
  height: 529px;
  flex-shrink: 0;
}

.Title__main-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 6.94vw;
  margin-top: 5vw;
  gap: 2vw;
}

.Title__main-container__text-container__text {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.Title__main-container__text-container {
  display: flex;
  flex-direction: column;
  width: 60vw; 
  justify-content: flex-start;
  gap: 4vw;
  margin-left: 5vw;
}

.title--h1 {
  font-size: 6.66vw;
  font-weight: 700;
  color: var(--maint-text-color);
  line-height: 106%;
  margin: 0;
}

.text--p {
  font-size: 1.5vw;
  font-weight: 300;
  color: var(--maint-text-color);
  margin: 0;
}

.title--p {
  width: 40vw;
}

.Title__main-container__background {
  width: 50vw;
  height: auto;
  margin-right: -2vw;
  overflow: hidden;
}

.Title__main-container__background__img {
  width: 100%;
  height: auto;
}

.color--black {
  color: var(--main-bg-color);
}

.How-works__content-container {
  width: 100%;
  min-height: 836px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.How-works__intersection {
  height: 10.41vw;
}

.How-works__content-container__animated-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4.72vw;
  align-items: flex-start;
  z-index: 0;
}

.How-works__content-container__animated-text__item__text {
  font-size: 8.88vw;
  margin: 0;
  white-space: nowrap;
  font-weight: 700;
}

.first--margin-left {
  margin-left: -18.75vw;
}

.second--margin-left {
  margin-left: -5.48vw;
}

.third--margin-left {
  margin-left: -36.6vw;
}

.color--grey {
  color: transparent;
  -webkit-text-stroke: 1px var(--stroke-text-color);
}

.color--green {
  color: var(--animated-text-green);
}

.color--purple {
  color: var(--animated-text-purple);
}

.color--yellow {
 color: var(--header-second-bg-color);
}

.How-works__content-container__animated-text__item {
  display: flex;
  width: 100%;
  gap: 1.38vw;
}

.How-works__content-container__phone-container__img {
  height: 43.26vw;
  width: 21.38vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.How-works__stat-numbers {
   background-color: var(--main-btns-bg-color);
   height: 222px;
   display: flex;
   align-items: center;
   width: 100%;
}

.How-works__stat-numbers-items {
  display: flex;
  padding: 40px 100px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 0 100px;
  color: #FFFFFF;
}

.How-works__stat-numbers__item {
  display: flex;
  flex-direction: column;
  height: 142px;
  max-width: 217px;
  align-items: flex-start;
  gap: 0 16px;
}

.How-works__stat-numbers__item__text {
  font-size: 24px;
  line-height: 120%;
  font-weight: 600;
}

.How-works__stat-numbers__item__number {
  font-size: 4.44vw;
  font-style: normal;
  font-weight: 700;
  line-height: 106%;
}

.title--margin-left {
  margin-left: 4.16vw;
}


.About__content__text-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 397px;
  min-height: 135px auto;
  margin-left: 4.16vw;
}

.text--general {
  font-size: 36px;
  color: var(--maint-text-color);
  text-align: left;
  font-weight: 600;
  margin: 0;
}

.text--marked {
  font-size: 36px;
  text-align: left;
  position: relative;;
  z-index: 1;
  font-weight: 600;
  color: var(--maint-text-color);
  margin: 0;
}

.text--marked::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotate(-1.631deg);
  border-radius: 30px;
  background: var(--animated-text-purple);
  z-index: -1;
}

.About__content-container {
  position: relative;
}

.About {
  height: 953px auto;
}

.About__content {
  display: flex;
  gap: 8.19vw;
  margin-top: 80px;
  margin-right: 4.16vw;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.About__content__img-background {
  position: absolute;
  top: 19.58vw;
  width: 29.37vw;
  height: auto;
}

.About__content__list {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.About__content__list__item {
  color: var(--maint-text-color);
  width: 22vw;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.38vh;
}


.img--width--heigth {
  max-width: 7vw;
  max-height: auto;
}

.About__content__list__item__title {
  font-size: 3vw;
  font-weight: 700;
  line-height: 106%;
}

.About__content__list__item__text {
  font-size: 1.66vw;
  font-weight: 400;
  line-height: 120%;
}

.Why-budss__container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.94vw;
}

.Why-budss__container__content {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
  gap: 70px;
  margin-top: 6.94vw;
}

.Why-budss__container__content__text {
  align-content: center;
  color: var(--maint-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Why-budss__container__content__text__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text-item--p {
  font-size: 2.5vw;
  text-align: center;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.text-item-div--marked {
  font-size: 2.5vw;
  text-align: center;
  position: relative;;
  z-index: 1;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.text-item-div--marked::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotate(-1.631deg);
  border-radius: 30px;
  background: var(--animated-text-purple);
  z-index: -1;
}

.Why-budss__container__content__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1.38vw;
}

.first--size {
  max-width: 50.9vw;
  height: auto;
}

.second--size {
  max-width: 37.98vw;
  height: auto;
}

.Why-budss__container__content__items__item {
  background-color: var(--maint-text-color);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.why-title--font {
  font-size: 3.33vw;
  font-weight: 600;
}

.why-text--font {
  font-size: 1.38vw;
  line-height: 120%;
  font-weight: 400;
}

.Why-budss__container__content__items__item__text {
  display: flex;
  flex-direction: column;
  gap: 1.38vw;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.text-first--position {
  padding-left: 22.847vw;
  padding-top: 2.77vw;
  padding-right: 2.77vw;
  padding-bottom: 3.47vw;
}

.text-second--position {
  padding-left: 2.77vw;
  padding-top: 2.77vw;
  padding-right: 6.319vw;
  padding-bottom: 5.972vw;
}

.text-third--position {
  padding-left: 2.77vw;
  padding-top: 2.77vw;
  padding-right: 4.659vw;
  padding-bottom: 3.47vw;
}

.text-forth--position {
  padding-left: 2.77vw;
  padding-top: 2.77vw;
  padding-right: 20.208vw;
  padding-bottom: 5.97vw;
}

.img--disabled {
  display: none;
}

.first--position {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}

.img-second-1--position {
  position: absolute;
  top: 41.9718vh;
  right: 27.9861vw;
  left: 5vw;
  bottom: 0;
}

.img-second-2--position {
  position: absolute;
  top: 38.8732vh;
  right: 4.225vw;
  left: 27.3611vw;
  bottom: 0;
}

.img-second-3--position {
  position: absolute;
  top: 11.2676vh;
  right: 0;
  left: 32.4503vw;
  bottom: 16.1972vh;
}

.third--position {
  position: absolute;
  bottom: -1.4085vh;
  right: 0;
}

.forth--position {
  position: absolute;
  bottom: 0;
  right: 2.8169vw;
  top: 8.5915vh;
  left: 33.8021vw;
}

.title--secondary {
  font-size: 64px;
  font-weight: 700;
  line-height: 106%;
  margin-top: 0;
  margin-bottom: 0;
}

.item-img-4 {
  display: none;
}

.item__img-2 {
  display: none;
}

.cta {
  background-color: var(--maint-text-color);
}

.cta__container {
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.cta__container__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1320px auto;
  align-items: center;
  border-radius: 60px;
  border: 1px solid var(--secondary-border-color);
  padding-bottom: 60px;
  padding-top: 60px;
  margin-left: 4.16vw;
  margin-right: 4.16vw;
  gap: 40px;
  margin-top: 6.94vw;
  margin-bottom: 6.94vw;
}

.cta-title--size {
  text-align: center;
  width: 48vw auto;
}

.cta__container__content {
  display: flex;
  margin-bottom: 6.94vw;
  margin-left: 60px;
  margin-right: 45px;
  height: auto;
}

.cta__container__content__text {
  display: flex;
  flex-direction: column;
  width: 56.94vw;
  gap: 20px;
}

.cta-text--width {
  width: 537px;
}

.cta-text--font {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.cta__container__media-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 2.43vw;
  gap: 2.77vw;
  margin-top: 45px;
}

.cta__container__media-items__img {
  width: 90px;
  height: 90px;
}

.cta__container__media-items__img:nth-child(even) {
  padding-top: 45px;
}

.cta__container__media-items__img:nth-child(odd) {
  padding-bottom: 45px;
}

.cta__container__partners-items {
  display: flex;
  gap: 6.25vw;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 6.94vw;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  min-height: 128px;
  width: 91.66vw auto;
  padding: 2.7778vw 4.1667vw 1.3889vw 4.1667vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--maint-text-color);
}

.footer__container__content__logo__text {
  color:var(--maint-text-color);
  font-size: 37px;
  font-weight: 600;
  line-height: 17px;
  text-transform: lowercase;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer__container__content__menu-container__menu__list {
  display: flex;
  gap: 40px;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-start;
  padding-inline-start: 0;
}

.footer__container__content__menu-container__menu__list__item {
  font-weight: 500;
}

.width--auto {
  width: auto;
}

.footer__container__content__logo {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  width: 155px;
  height: 49px;
  gap: 5px;
}

.footer__container__content__contact {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.footer__container__content__contact__stores {
  display: flex;
  gap: 20px;
}

.footer__container__copyright {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  color: var(--secondary-border-color);
}

.footer__container__copyright__content {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
}

.footer__container__copyright__content__items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 10px;
}

.item--text-decoration {
  text-decoration: underline;
}

.hr--border {
  border: 2px solid var(--stroke-text-color);
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #181818(0, 0, 0, 0.4);
}

.modal__form {
  background-color: var(--maint-text-color);
  border-radius: 20px;
  margin: 56px auto 56px auto;
  padding: 40px;
  border: 1px solid var(--modal-form-border);
  width: 417px;
  min-height: 587px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}


.modal__form__contact {
  display: flex;
  flex-direction: column;
}

label {
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color:  #070707;
}

.modal__form__contact__input {
  border-radius: 14px;
  border: 1px solid var(--modal-form-border);
  background: var(--maint-text-color);
  height: 40px;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: var(--input-text-color);
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 10px;
  width: 100%;
}

.modal__form__contact__policy-text {
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: stretch;
  color: var(--main-bg-color);
}

.sales-btn--disabled {
  background-color: var(--btn-disabled-bg-color);
  pointer-events: none;
  border-color: transparent;
}

.required-label::after {
  content: "*";
  color: var(--errors-color);
}

.input--invalid {
  border-color: var(--errors-color);
}

.modal__form__contact__invalid-feedback {
  color: var(--errors-color);
  font-size: 12px;
  padding-bottom: 10px;
}

.invalid-feedback--disabled {
  display: none;
}

.feedback--disabled {
  display: none;
}

.feedback--active {
  display: inline;
}

.modal__form__contact__general-feedback {
  font-size: 16px;
  margin: 0;
  padding-top: 20px;
}

.text--disabled {
  display: none;
}

.modal__success {
  background-color: var(--maint-text-color);
  border-radius: 20px;
  margin: 56px auto 0 auto;
  padding: 40px;
  border: 1px solid var(--modal-form-border);
  width: 417px;
  height: 561px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.modal__success__img {
  width: 297px;
  height: 232px;
  padding: 24px 34px 3px 15px;
  align-items: center;
}


.modal__success__item__title {
  align-self: stretch;
  color: var(--animated-text-purple);
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.modal__success__item__text {
  width: 345px;
color: var(--stroke-text-color);
text-align: center;
font-family: Outfit;
font-size: 24px;
font-weight: 400;
line-height: 120%;
}

.btm-success__text {
  display: block;
  text-align: center;
}

.item--width {
  width: 337px;
}

.modal__success-btn {
  all: unset;
  justify-content: center;
  padding: 16px 30px;
  width: 82%;
  height: 25px;
  background-color: var(--main-btns-bg-color);
  border-radius: 16px;
  cursor: pointer;
}

.success-btn--font {
  color: var(--maint-text-color);
  font-size: 20px;
  font-weight: 600;
}

.modal--disabled {
  display: none;
}

.disabled {
  display: none;
}

.img--disabled {
  display: none;
}

.submit:hover {
  background: var(--main-bg-color);
  border: none;
}

.input__phone-image {
  width: 22px;
  height: 16px;
  left: 16px;
  bottom: 10px;
  top: 10px;
  position: absolute;
}

.modal__form__contact__input-phone-container {
  position: relative;
}

.phone-container__input {
  text-indent: 15px;
}

#phone {
  padding-left: 30px;
}

.modal__success__item__text {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1024px) {

  .header__main-container__hamburger-btns {
    display: flex;
    padding: 10px 8px;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
  }

  .header__main-container__hamburger__button__item {
    background-color: var(--maint-text-color);
    width: 24px;
    height: 2px;
    border-radius: 8px;
  }

  .header__contact-btn--disabled {
      display: none;
  }

  .header__main-container__hamburger__open-button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    height: 40px;
    gap: 7px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .img-background--disabled {
      display: none;
  }

  .cta__container__partners-items {
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 40px;
      margin-top: 5vw;
  }

  .order--3 {
      order: 3;
  }

  .order--2 {
      order: 2;
  }

  .order--1 {
      order: 1;
  }

  .order--4 {
      order: 4;
  }

  .order--5 {
      order: 5;
  }

  .cta-text--width {
    width: 100%;
  }
  
  .cta-text--font {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
  }

  .cta__container__content {
    flex-wrap: wrap;
  }

  .cta__container__content__text {
      width: 80.078vw;
    }

  .cta-title--size {
      font-size: 6.25vw;
  }

  .About__content {
      flex-wrap: wrap;
      flex-direction: column;
      gap: 40px;
  }

  .text--margin-left {
    margin-left: -70px;
  }

  .About__content__list {
      margin-left: 4.16vw;
    }
  
  .About__content__list__item__title {
      font-size: 42px;
      font-weight: 700;
      line-height: 106%;
    }
    
  .About__content__list__item__text {
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
  }

  .About__content__list__item__img {
      max-width: 100px;
      max-height: 100px;
  }

  .About__content__list__item {
      width: 321px;
      height: auto;
      gap: 1.38vh;
    }

    .Title__main-container {
      flex-wrap: wrap;
    }

    .Title__main-container__background {
      width: 52vw;
      overflow: hidden;
      margin-top: 40px;
      margin-left: 48vw;
    }

    .Title__main-container__background__img {
      width: 52vw;
      height: auto;
    }

    .Title__main-container__text-container {
      width: 65.52vw;
    }
    
    .title--h1 {
      font-size: 9.37vw;
    }
    
    .text--width {
      width: 52.14vw;
      font-size: 1.95vw;
    }


   .text-item--p {
      font-size: 3.5vw;
    }
    
    .text-item-div--marked {
      font-size: 3.5vw;
    }

    .Why-budss__container__content__items {
      gap: 1.95vw;
      justify-content: center;
    }

    
    .first--size {
      max-width: 547px;
      min-height: 410px;
    }
    
    .second--size {
      max-width: 547px;
      min-height: 350px;
    }
    
    .why-title--font {
      font-size: 44px;
      font-weight: 700;
    }
    
    .why-text--font {
      font-size: 20px;
      line-height: 120%;
    }
    
    .Why-budss__container__content__items__item__text {
      gap: 16px;
      margin-left: 30px;
      margin-top: 30px;
      margin-right: 30px;
    }
    
    .text-first--position {
      padding: 0;
    }
    
    .text-second--position {
      padding: 0;
    }
    
    .text-third--position {
      padding: 0;
    }
    

    .text-forth--position {
      padding: 0;
    }

    .item__img-1{
      display: none;
    }

    .item__img-2 {
      display: block;
    }

    .first--position {
      top: 55%;
      left: 0;
      bottom: 0;

    }
    
    .img-second-1--position {
      top: 84%;
      right: 95%;
      left: 5%;
      bottom: 0;
    }
    
    .img-second-2--position {
      top: 79%;
      right: 55%;
      left: 45%;
      bottom: 0;
    }
    
    .img-second-3--position {
      top: 50%;
      right: 0;
      left: 85%;
      bottom: 10%;
    }

    .third--position {
      bottom: -1%;
      right: 0;
    }
    
    .item-img-3 {
      display: none;
    }

    .item-img-4 {
      display: block;
    }
    
    .forth--position {
      left: 60%;
      top: 56%;
      bottom: 0;
    }

    .footer__container__copyright__content {
      flex-wrap: wrap;
      gap: 20px;
    } 

    .footer__container__copyright__content__items {
      flex-wrap: nowrap;
      padding-left: 0;
    }

    .footer__container__content {
      justify-content: flex-start;
      gap: 20px;
    }

    .cta__container__media-items {
      width: 820px;
      margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
  .Title__main-container {
      margin-top: 51px;
  }

  .Title__main-container__text-container {
     width: 100%;
     margin-right: 16px;
     gap: 40px
    }

    .Title__main-container__text-container__text {
      gap: 20px
    }

    .title--h1 {
      font-size: 9.37vw;
    }

  .text--p {
      width: 80%;
      margin-left: 0;
      margin-right: 0;
      font-size: 16px;
  }

  .sales-btn--width {
      width: 68%;
      margin-left: 0;
      margin-right: 0;
  }

  .sales-btn__text {
    text-align: center;
  }

  .Title__main-container__background {
      width: 65vw;
      margin-top: 16vw;
      margin-left: 35vw;
    }

    .Title__main-container__background__img {
      width: 65vw;
    }


    .About__content__list__item {
      width: 100%;

    }

    .About__content__list__item__text {
      width: 90%;
      padding-right: 16px;
    }

    .How-works__stat-numbers {
      height: auto;
      justify-content: flex-start;
      align-items: center;
  }

    .How-works__stat-numbers-items {
      flex-direction: column;
      padding: 40px 16px;
      width: 100%;
      gap: 40px;
      margin-left: 15%;
      margin-right: 0;
      align-items: flex-start;
      }

    .stat-number-container {
      max-width: 100%;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      height: auto;
    }

    .How-works__stat-numbers__item__text {
      font-size: 3.14vw;
      line-height: 120%;
      font-weight: 300;
    }
    
    .How-works__stat-numbers__item__number {
      font-size: 8.34vw;
      font-style: normal;
      font-weight: 700;
      line-height: 106%;
    }

    .Why-budss__container__content__items__item {
      height: auto;
    }
}