@media screen and (max-width: 767px) {
    .title-container {
        margin-top: 51px;
    }

    .text-title-main-container {
       width: 100%;
       margin-right: 16px;
       gap: 40px
      }

      .text-title-container {
        gap: 20px
      }

      .title {
        font-size: 9.37vw;
      }

    .title-p {
        width: 80%;
        margin-left: 0;
        margin-right: 0;
        font-size: 16px;
    }

    .btn-about {
        width: 68%;
        margin-left: 0;
        margin-right: 0;
    }

    .btm-text-sales {
      text-align: center;
    }

    .title-img-container {
        width: 65vw;
        margin-top: 16vw;
        margin-left: 35vw;
      }

      .title-img {
        width: 65vw;
      }


      .about-item-container {
        width: 100%;

      }

      .item-text {
        width: 90%;
        padding-right: 16px;
      }

      .stat-numbers {
        height: auto;
        justify-content: flex-start;
        align-items: center;
    }

      .stat-numbers-container {
        flex-direction: column;
        padding: 40px 16px;
        width: 100%;
        gap: 40px;
        margin-left: 15%;
        margin-right: 0;
        align-items: flex-start;
        }

      .stat-number-container {
        max-width: 100%;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        height: auto;
      }

      .stat-number-text {
        font-size: 3.14vw;
        line-height: 120%;
        font-weight: 300;
      }
      
      .stat-number-number {
        font-size: 8.34vw;
        font-style: normal;
        font-weight: 700;
        line-height: 106%;
      }

      .why-item-container {
        height: auto;
      }
  }